* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 h4,
h5,
h6 {
    font-family: dosis, sans-serif;
    font-weight: 900;

}

nav {
    background-color: white;
    /* box-shadow: 5px 0 10px gray; */
    position: absolute;
}

.container {
    padding: 15px 0;
}

.container .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav .container .collapse .navbar-nav {
    display: flex;
    margin: auto;
}

nav .container .collapse .navbar-nav li a {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

nav .navbar-nav .nav-item a:hover {
    color: rgb(110, 84, 255);
}

nav .container .dropdown-menu {
    padding: 0;
}

nav .container .dropdown-menu li {
    width: 200px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

nav .container .dropdown-menu li a {
    padding: 8px 20px;
}

nav .container .dropdown-menu li a:hover {
    background-color: rgb(110, 84, 255);
    color: white;
}

.btn {
    background-color: rgb(110, 84, 255);
    padding: 12px 30px;
    font-weight: bold;
    color: white;
    margin-right: 20px;
}

/*================================== BANNER SECTION START ============================*/
/*================================== BANNER SECTION START ============================*/

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
    position: relative;
    z-index: 1;
}

.banner .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .row .bann_content h1 {
    font-size: 68px;
    margin: 20px 0;
    font-weight: 700;
    color: white;
}

.banner .row .bann_content p {
    color: white;
    margin: 30px 0;
    line-height: 30px;
}

.banner .row img {
    width: 90%;
    margin-top: 50px;
}


.banner .bann_bottom_img {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: auto;
    z-index: -1;
}

.banner .bann_bottom_img img {
    width: 100%;
}

/*================================== SERVICE SECTION START ============================*/
/*================================== SERVICE SECTION START ============================*/

.service {
    padding: 80px 0;
}

.section-title {
    padding-bottom: 60px;
    text-align: center;
}

.section-title h6 {
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.section-title h1 {
    color: #404040;
}

.service .card_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 0;
}

.card_container .card {
    width: calc(100% / 3 - 20px);
    justify-content: center;
    padding: 30px;
    box-shadow: 5px 5px 10px rgb(225, 225, 225);
    border: none;
    animation: cardup ease-in;

}

.card_container .card:hover img {
    transform: scaleX(-1);
}

.card_container .card img {
    width: 50px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.card_container .card p,
a {
    padding: 10px 0;
    line-height: 28px;
    text-decoration: none;
    margin: 0;
    color: #626262;
}

.card_container .card a,
i {
    text-decoration: none;
    margin: 0px;
    font-weight: 600;
    color: rgb(110, 84, 255);
    padding: 0 5px;
}


/*================================== ABOUT SECTION START ============================*/
/*================================== ABOUT SECTION START ============================*/
.about {
    padding: 80px 0;
    background-color: #f7f8f8;
}

.about .about_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_text {
    padding-right: 25px;
}

.about_text>h6 {
    color: #ff9800;
    letter-spacing: 1px;
}

.about_text h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
}

.about_text p {
    padding: 10px 0;
    line-height: 30px;
    color: #626262;

}

.progress_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress_text h6 {
    font-weight: 600;
    margin-bottom: 15px;
}

.about_text .progress {
    height: 8px;
    background-color: rgb(219, 219, 253);
    margin-bottom: 25px;

}

.about_text .progress .progress-bar {
    background-color: rgb(110, 84, 255);
}

.about_img {
    position: relative;
    text-align: center;
}

.about_img img {
    width: 100%;
    border-radius: 5px;
}

.about_img .year {
    position: absolute;
    left: 35%;
    bottom: 20px;
    width: 200px;
    height: fit-content;
    border-bottom: 3px solid #ff9800;
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 5px;

}

.about_img .year h2 {
    font-size: 60px;
    background: url(./image/about\ company.jpg);
    background-position: 50% 50%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_img .year h6 {
    color: #ff9800;
}


/*================================== CHOOSE-US SECTION START ============================*/
/*================================== CHOOSE-US SECTION START ============================*/

.choose_us {
    padding: 80px 0;
}

.choose_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.choose_btn li {
    width: calc(100% / 2 - 10px);
    box-shadow: 0 0 10px rgb(225, 225, 225);
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px;
    border-left: 3px solid rgb(110, 84, 255);
    position: relative;
    overflow: hidden;
    font-weight: 600;
    z-index: 1;
}

.choose_btn li::before {
    position: absolute;
    top: 0;
    left: -100%;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgb(110, 84, 255);
    border-radius: 5px;
    transition: 0.3s ease-in;
    visibility: hidden;
    z-index: -1;
}

.choose_btn li:hover::before {
    visibility: visible;
    left: 0;
}

.choose_btn li:hover {
    color: white;
}


/*================================== CHOOSE-US SECTION START ============================*/
/*================================== CHOOSE-US SECTION START ============================*/

.trust_us {
    padding: 50px 0 80px 0;
}


/*================================== COUNTER-AREA SECTION START ============================*/
/*================================== COUNTER-AREA SECTION START ============================*/

.counter_area {
    width: 100%;
    /* height: 100%; */
    padding: 80px 0;
    background-image:
        linear-gradient(45deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.2)), url(./image/counterimg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.counter_body {
    color: white;
}

.counter_area .card_text {
    text-align: center;
}



/*================================== TESTIMONIAL SECTION START ============================*/
/*================================== TESTIMONIAL SECTION START ============================*/

.testimonial {
    padding: 80px 0;
}

.testi_title {
    text-align: center;
    margin-bottom: 35px;
}

.testi_title h6 {
    color: #ff9800;
    font-weight: bold;
}


.team_member .team .card{
    height: 22rem;
    overflow: hidden;
    position: relative;
}
.team_member .team .card::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 9;
    transition: 0.2s;
}
.team .card:hover::before{
    visibility: visible;
}

.team .card img{
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.2s;
    overflow: hidden;
}

.team .card:hover img{
    transform: scale(1.1);
}

.team .card_icon{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.team .card_icon a{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 5px;
    margin: 0 2px;
    transition: all 0.2s;
}
.team .card_icon i{
    font-size: 20px;
    color: white;
}

.team .card:hover .card_icon{
    visibility: visible;
}

.team .card-body p{
    color: rgb(110, 84, 255);
    margin: 8px 0;
}


/*================================== TEAM MEMBER SECTION START ============================*/
/*================================== TEAM MEMBER SECTION START ============================*/

.blog{
    background-color: rgb(247, 248, 248);
}
.blog_card .card img{
    height: 18rem;
    object-fit: cover;
}
.blog .card .card-body h5{
    line-height: 32px;
}

.blog .card .card-body a{
    color: rgb(110, 84, 255);
}


/*================================== contact SECTION START ============================*/
/*================================== contact SECTION START ============================*/

.contact{
    width: 100%;
    height: 100%;
    padding: 80px 20px 60px;
    background-image:
        linear-gradient(45deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.2)), url(./image/counterimg.jpg);
    background-size: cover;
    background-position: center;
}
.contact_body{
    width: 70%;
    color: white;
}
.contact_body p{
    line-height: 30px;
    margin: 20px 0;
    letter-spacing: 1px;
}


/*================================== CUSTOMER SECTION START ============================*/
/*================================== CUSTOMER SECTION START ============================*/

.customers {
    padding: 80px 0;
}
.customers .cstm_name .col{
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; */
    /* margin: 0; */
}

.customers .cstm_name img{
    width: 100%;
    border: 2px solid rgb(237, 237, 237);
    border-radius: 10px;
    padding: 0 20px;

}


/*================================== FOOTER SECTION START ============================*/
/*================================== FOOTER SECTION START ============================*/

footer{
    width: 100%;
    background-color: #042c4c;
    color: white;
    position: relative;
    z-index: 1;
}
footer::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(./image/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.scbscribe_area{
    padding: 40px 0;
    border-bottom: 1px solid rgba(233, 233, 233, 0.3);
}
.scbscribe_area .subscribe p{
    padding: 12px 0;
    margin: 0;
    font-family: sans-serif Arial, Helvetica;
    letter-spacing: 1px;
}

.subscribe form input{
    width: 100%;
    height: 3.6rem;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight:500;
    font-family: Arial, Helvetica, sans-serif;
}

.subscribe form{
    position: relative;
}
.subscribe form button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 30px;
    background-color: rgb(110, 84, 255);
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif, Arial, Helvetica;
    border-radius: 0px 8px 8px 0;
    transition: 0.3s;
}
.subscribe form button:hover{
    background-color: #ff9800;
}


.footer_area{
    padding: 80px 0;
    border-bottom: 1px solid rgba(233, 233, 233, 0.3);
}

.footer_area .logo p{
    font-family: sans-serif Arial, Helvetica;
    padding: 20px 0;
    line-height: 30px;
    font-size: 16px;
}
.footer_area .link i{
    width: 45px;
    height: 45px;
    background-color: white;
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 22px;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
    transition: 0.3s;
}
.footer_area .link i:hover{
    background-color:rgb(110, 84, 255);
    color: white;
}

.footer_area .foote_title{
    border-bottom: 1px;
    border-bottom: 1px solid rgba(233, 233, 233, 0.3);
    margin-bottom: 20px;
}

.footer_area .foote_title h4{
    font-family: sans-serif Arial, Helvetica;
    font-weight: 600;
}
.footer_area .footer_content h5{
    font-family: sans-serif Arial, Helvetica;
    font-size: 18px;
}
.footer_area .footer_content ul{
    list-style: none;
    padding: 0px;
}
.footer_area .footer_content ul li{
    margin-bottom: 20px;
}
.footer_area .footer_content ul li a{
    color: white;
}
.footer_area .footer_content ul li a:hover{
    color: rgb(110, 84, 255);
    text-decoration: underline;
}
.footer_area .footer_content i{
    color: white;
    font-size: 22px;
    margin-right: 10px;
}


.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.copyright p{
    margin: 0;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.copyright p:hover{
    color: rgb(110, 84, 255);
}